.Header {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e8d1b5;
    box-shadow: 3px 3px 5px 3px lightgray;
    font-family: 'Bebas Neue', cursive;
}

.Header > nav > ul {
    display: flex;
    list-style: none;
    margin-right: 15px;
}
.Header > nav > ul > li {
    font-size: 15px;
    margin-right: 20px;
    text-decoration: none;
}

.Header a {
    text-decoration: none;
    color: black;
}